@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@900&display=swap');

$standard-text:Commissioner;
$standard-weight:400;
$heavy-weight:500;
$thicc-weight:700;

$mobile-width:375px;
$desktop-width: 1440px;

$dark-gray: hsl(0,0%,48%);

$primary:hsl(176,50%,47%);
$dark-primary:hsl(176,72%,28%);

$background:rgb(250,250,250);
$content-background:white;

html{
    padding:0px;
    margin:0px;
}

.product-info button{
    float:right;
}

button{
    background:$primary;
    color:white;
    padding:2vh 1.5vw;
    border-radius:50px;
    font-family:$standard-text;
    font-size:16px;
    font-weight: $heavy-weight;
    border:0px;
}

body{
    font-family:$standard-text;
    background:$background;
    margin:0px;
    padding:0px;
}

nav{
    max-width:$desktop-width;
    margin:auto;
}


nav .nav-links { 
    float:right;
    margin-top:5%;
}

nav .nav-items{
    margin-right:1vw;
}

nav .nav-links a{
    font-family: $standard-text;
    font-weight: $standard-weight;
    color:white;
    font-size:12pt;
    padding-right:2.5vw;
    text-decoration: none ;
}

nav .nav-home{
    float:left;
    padding-left:4vw;
}

nav .nav-home img{
    width:9vw;
}

.hero{
    margin:auto;
    width:100%;
    padding-bottom:27vw;
    margin:0px;
    background:url(/images/image-hero-desktop.jpg);
    background-size:100% auto;
    box-shadow:inset 0 5vh 30vh 0 black;
}

.content{
   width:720px;
   margin:auto;
   margin-top:-10vh;
}

.content-container{
    margin-top:1vh;
    background:white;
    border-radius:1vw;
    border: 1px solid #ccc;
    padding:5vh 2vw;
    text-align:center;
}

.intro-buttons{
    margin:0px;
    display:flex;
    padding:1vh 2vw;
    justify-content: space-between;
}

.product-info .header {
    padding:1vh 0px;
}

.product-info .description{
    line-height:1.5em;
}


.stats-container{
    display:flex;
    padding:5vh;
}


.stats-item{
    width:33%;
    text-align:left;
    box-shadow: 20px 0px 2px -20px #ccc;
    margin-left:5%;
    margin-bottom:1vh;
    justify-items:center;
    line-height:1em;
}

.stats .header{
    font-weight:$thicc-weight;
}

.stats-item:last-of-type{
    box-shadow: none;
}

.stats-bar{
    height:2vh;
    border-radius:5vh;
    width:85%;
    margin:auto;
    background:#eee;
    margin-bottom:2vh;
    overflow:hidden
}

.stats-bar-full{
    border-radius:5vh;
    width:75%;
    height:100%;
    background:$primary;
}

.description{
    color:$dark-gray;
}

.product-info{
    text-align:left;
}


